<main>
    <section id="hero">
        <div class="hero-overlay">
            <img id="hero-icon" src="assets/product/contribution.png" alt="">
            <h1 class="section-title">Food Contribution</h1>
        </div>
    </section>

    <div class="package package2">
        <p class="subtitle">Discover how you can secure food for yourself/family.</p>
        <p>With our food contribution package you are able to secure food for yourself or your family when it matters most.</p>
        <p>You will have to make a weekly contribution of a fixed amount depending on the package of your choice.</p>
    
        <h5 class="card-header">Check out the packages</h5>
    
        <div class="package-wrapper">
            <ul class="card bronze">
                <h6>Bronze (N750/week, N3,000/month)</h6>
                <li> ½ Bag of foreign rice </li>
                <li>1 carton of tin tomatoes</li>
                <li>2L of Kings groundnut oil</li>
                <li>1 carton of small size noodles</li>
                <li>1 Crates of eggs</li>
                <li>2 Sachet of salt</li>
                <li>2 Sachets of Maggi seasoning</li>
                <li>1 450g of milo tin</li>
                <li>1 450g of peak milk tin</li>
            </ul>
        
        
            <ul class="card silver">
                <h6>Silver (N 1,500/week, N6,000/month)</h6>
        
                <li>1 bag of foreign rice </li>
                <li>1 carton of tin tomato</li>
                <li>4L of kings’ groundnut oil</li>
                <li>2 crates of eggs</li>
                <li>1 packet of small size indomie noodles.</li>
                <li>2 sachet of salt</li>
                <li>2 sachets of Maggi seasoning </li>
                <li>2 packs of spaghetti </li>
                <li>1 900g peak milo tin </li>
                <li> 1900g peak milk tin</li>
                <li>2l of custard </li>
                <li>3 packs of sardine</li>
                <li>1 packet of sugar</li>
                <li>1 3k gas cylinder/electric blender</li>
            </ul>
            
            
            <ul class="card gold">
                <h6>Gold (N2,250/week, N 9,000/month)</h6>
        
                <li>1 bag of foreign rice</li>
                <li>1 Carton of tin tomatoes </li>
                <li>1 5L of Kings’ groundnut oil</li>
                <li>2 crates of egg</li>
                <li>2 cartons of indomie noodles </li>
                <li>3 sachets of salt</li>
                <li>3 sachets of Maggi seasoning </li>
                <li>1 900g milo tin</li>
                <li>1 900g peak milk tin </li>
                <li>1 4L of custard’</li>
                <li>1 packet of sugar</li>
                <li>2 pieces of blue band butter</li>
                <li>1 packet of cornflakes</li>
                <li>5 pieces of sardine</li>
                <li>4 pieces of geisha</li>
                <li>4 pack of cabin biscuit</li>
                <li>Toiletries (Toothpaste, Detergent, Harpic, etc.)</li>
                <li>3Kg Gas Cylinder</li>
                <li>Blender</li>
                <li>Electric Jug/Kettle</li>
        
            </ul>              
        </div>
        <a href="https://chat.whatsapp.com/BggVxbI2T6T8VaBwSY0Tfw"><button class="btn contr-btn">Contribute Now</button></a>
    </div>
</main>

