<footer>
    <section class="social-icons">
        <a href="#" target="_blank" rel="noopener" title="twitter social media icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="#" target="_blank" rel="noopener" title="facebook social media icon"><fa-icon [icon]="fafacebook"></fa-icon></a>
        <a href="#" target="_blank" rel="noopener" title="whatsapp social media icon"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
        <a href="#" target="_blank" rel="noopener" title="LinkedIn social media icon"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="#" target="_blank" rel="noopener" title="whatsapp social media icon"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="#" target="_blank" rel="noopener" title="LinkedIn social media icon"><fa-icon [icon]="faYoutube"></fa-icon></a>
    </section>
    <section class="address">
        <p><fa-icon [icon]="faMapMarker"></fa-icon>Shop 23, Kings Lake Plaza B, Agudama-Epie, Yenagoa, Bayelsa State.</p>

        <a href="tel:+2349135080336" target="_blank" rel="noopener" title="Ciil Phone icon"><fa-icon [icon]="faPhone"  flip="horizontal"></fa-icon>+2349135080336</a>
        <a href="mailto:charlyiriasinvestment@gmail.com" target="_blank" rel="noopener" title="Ciil Email icon"><fa-icon [icon]="faEnvelope"></fa-icon>charlyiriasinvestment@gmail.com</a>
    </section>

    <div class="ciil-brief-about">
        <p><strong>Charlyiriasinvest.com</strong> is a property of Charly Irias investment Limited, a company duely licenced by Corporate Affairs Commission (CAC) in Nigeria and is incorporated with other relevant bodies. Headquartered in Yenagoa, Bayelsa State. To ensure the security of funds invested or saved the company have a paid up capital of over 30 million naira. Charly Irias Investment Limited services include forex investment, food contribution and savings </p>
    </div>
    
    <div class="copyright">
        &copy; 2021 Charly Irias Investment Limited. All rights reserved.
    </div>
</footer>
