<section class="social-icons">
    
</section>
<section class="address">
<p>
    <img src="" alt="">
    Shop 23, Kings Lake Plaza B, Agudama-Epie, Yenagoa, Bayelsa State.
</p>
<a href="tel:+2349135080336">+2349135080336</a><a href="tel:+2349039172133">+2349039172133</a>
<a href="mailto:charlyiriasinvestment@gmail.com">charlyiriasinvestment@gmail.com</a>
</section>

<div class="ciil-brief-about">
    <p><strong>Charlyiriasinvest.com</strong> is a property of Charly Irias investment Limited, a company duely licenced by Corporate Affairs Commission (CAC)in Nigeria and is incorporated with other relevant bodies. Headquartered in Yenagoa, Bayelsa State. To ensure the security of funds invested or saved the company have a paid up capital of over 30 million naira. Charly Irias Investment Limited services include forex investment, food contribution and savings </p>
</div>

<div class="copyright">
    &copy; 2021 Charly Irias Investment Limited. All rights reserved.
</div>