footer{
    background-color: #f58634;
    color: white;
    max-width: 100%;
    padding: 1em 2em;
    line-height: 1.3em;
    font-size: 0.7em;
    text-align: justify;
    display: grid;
    gap: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

fa-icon{
    margin: .5em;
}

.social-icons fa-icon {
    font-size: 1.5em;
}

.social-icons {
    padding-top: 1em;
    justify-self: center;
}
.address a:first-of-type{
    margin-right: 1em;
}

.address p {
    font-size: .8em;
}

@media screen and (min-width: 600px){
    footer {
        font-size: 0.8em;
    }
}