<app-header></app-header>
<section id="hero">
    <div class="hero-overlay">
        <h1>PUT YOUR MONEY TO WORK INVEST WITH US</h1>
    </div>
</section>
<section id="intro-info">
    <p>You cannot rely on your job as the only source of income.</p>
    <p>You need a sound financial plan/structure to not only survive but thrive.</p>
    <ul>
        <li>You can afford to smile when others are crying.</li>
        <li>You can take on those projects.</li>
        <li>You can take care of your family confidently.</li>
        <li>You can contribute meaningfully to good causes in the society.</li>
    </ul>

    <div class="intro-info-caption">
        <p>We give you 30% returns on your investment, secure food for you and support your financial freedom.</p>
    </div>

    <div class="intro-info-getstarted">
        <p>Over 100+ of our partners are alread experiencing this. <br>Let us help you.</p>
        <button>Get Started</button>
    </div>

</section>
<hr>
<section id="why-invest-with-us" class="card">
    <h2>Why Invest With Us?</h2>
    <ul>
        <li>You get paid your dividends on time, no complain.</li>
        <li>You get access to a team of professionals and dynamic portfolio managers.</li>
        <li>Risk-tolerance levels to future investment planning.</li>
        <li>Strategic asses allocation</li>
        <li>You have access to professional customer care agents who are ready to help you.</li>
    </ul>
</section>
<hr>
<section id="discover-pakages">
    <h2>Discover our super packages</h2>
    <div class="package">
        <img src="assets/home/forex.png" alt="">
        <p>Earn 30% returns on your investment in 30 days, guaranteed.</p>
    </div>
    <div class="package">
        <img src="assets/home/contribution.png" alt="">
        <p>Discover how you can secure food for yourself/family.</p>
    </div>
    <div class="package">
        <img src="assets/home/Finance.png" alt="">
        <p>Save your money for targeted goals and easily access loans.</p>
    </div>
</section>
<hr>
<section id="who-we-are" class="card">
    <div class="ciil-brief-about">
        <p>Charly Irias Investment Limited is licensed by corporate affairs commission (CAC) in Nigeria and is incorporated with other relevant bodies. Headquartered in Yenagoa, Bayelsa state with paid-up capital of over 30 million naira.</p>
        <button>Learn More</button>
    </div>
    <div class="ciil-unique-vals">
        <h4>Our unique value</h4>
        <ul>
            <li><strong>Trust</strong>- Gained from all our stakeholders and general public.</li>
           <li><strong>Excellence</strong>- In achieving the highest professional standards in all our dealings.</li>
           <li><strong>Dedication</strong>- In adopting Godly values, professional appearance, honesty, confidentiality, professionalism and accuracy, as well as adhering to the company-wide culture of high ethical standards.</li>
           <li><strong>Transparency</strong>- In all our dealings, contracts and results.</li>
        </ul>
    </div>
</section>
<hr>
<section id="hear-from-partners">
    <div class="left-arrow"></div>
    <div class="card">
        <h3>Hear from our partners</h3>
        <img src="" alt="">
        <figure>
            <q>
                I have been investing with Charly Irias Investment limited for around 7 months. They have not only offered a great interest rate but also pay on time. No complaint at all
            </q>
            <figcaption>Ebi K.</figcaption>
        </figure>
        <div></div>
    </div>
    <div class="right-arrow"></div>
</section>
<hr>
<section id="faq" class="card">
    <h2>Are these your questions too</h2>
    <ul>
        <li><strong>What is your minimum amount of investment? </strong> <br>Answer: N50,000</li>
        <li><strong>What is your return on investment?</strong><br>Answer: 30% monthly.</li>
        <li><strong>What is your minimum and maximum investment duration?</strong><br>Answer: Minimum (3 months) and maximum (6 months) </li>
    </ul>
    <button>Learn more</button>
</section>

<section id="call-to-action">
    <figure>
        <q>If you don't find a way to make money while you sleep, you will work until you die</q>
        <figcaption><cite>-Warren Buffet</cite></figcaption>
    </figure>
    <button>Invest now</button>
    
</section>

<app-footer></app-footer>