<main>
    <section id="hero">
        <div class="hero-overlay">
            <h1>PUT YOUR MONEY TO WORK. <br> INVEST WITH US.</h1>
        </div>
    </section>
    <section id="intro-info">
        <p class="intro-info-p">You cannot rely on your job as the only source of income. You need a sound financial plan/structure to not only survive but thrive.</p>
        <ul class="intro-info-ul tick-list-good">
            <li>You can afford to smile when others are crying.</li>
            <li>You can take on those projects.</li>
            <li>You can take care of your family confidently.</li>
            <li>You can contribute meaningfully to good causes in the society.</li>
        </ul>
    
        <div class="intro-info-caption">
            <p>We give you 30% returns on your investment, secure food for you and support your financial freedom.</p>
        </div>
    
        <div class="intro-info-getstarted card">
            <p>Over 100+ of our partners are already experiencing this. Let us help you.</p>
            <a [routerLink]="['/products']"><button class="btn">Get Started</button></a>
        </div>
    
    </section>
    <hr>
    
    <section id="why-invest-with-us">
        <div class="why-invest-with-us-upper-part">
            <h2 class="card-header section-title" >Why Invest With Us?</h2>
        </div>
        <div class="why-invest-with-us-lower-part">
            <div>
                <ul class="tick-list-good">
                    <li>You get paid your dividends on time, no complain.</li>
                    <li>You get access to a team of professionals and dynamic portfolio managers.</li>
                    <li>Risk-tolerance levels to future investment planning.</li>
                    <li>Strategic asses allocation</li>
                    <li>You have access to professional customer care agents who are ready to help you.</li>
                </ul>
            </div>
    
        </div>
    </section>
    
    <section id="discover-pakages">
        <h2 class="section-title">Discover our super packages</h2>
        <div class="package package1">
            <img src="assets/home/small/forex.png" alt="">
            <h4>Forex Investment</h4>
            <p>Earn 30% returns on your investment in 30 days, guaranteed.</p>
            <a [routerLink]="['/products/forex-investment']"><button class="btn">Invest Now</button></a>
        </div>
        <div class="package package2">
            <img src="assets/home//small/contribution.png" alt="">
            <h4>Food Contribution</h4>
            <p>Discover how you can secure food for yourself/family.</p>
            <a [routerLink]="['/products/food-contribution']"><button class="btn">Contribute Now</button></a>

        </div>
        <div class="package package3">
            <img src="assets/home/small/Finance.png" alt="">
            <h4>Savings and loans</h4>
            <p>Save your money for targeted goals and easily access loans.</p>
            <a [routerLink]="['/products/savings-and-loans']"><button class="btn">Save Now/Apply for Loan</button></a>
        </div>
    </section>
    <hr>
    <section id="who-we-are">
        <div class="who-we-are-body card">
            <h2 class="card-header who-we-are-header section-title">Who we are?</h2>
    
            <div class="ciil-brief-about">
                <p>Charly Irias Investment Limited is licensed by corporate affairs commission (CAC) in Nigeria and is incorporated with other relevant bodies. Headquartered in Yenagoa, Bayelsa state with paid-up capital of over 30 million naira.</p>
                
                <a [routerLink]="['/products']"><button class="btn">Learn More</button></a>
            </div>
    
            <div class="ciil-unique-vals">
                <h4>Our unique values</h4>
                <ul class="tick-list-good">
                    <li><strong>Trust</strong>- Gained from all our stakeholders and general public.</li>
                    <li><strong>Excellence</strong>- In achieving the highest professional standards in all our dealings.</li>
                    <li><strong>Dedication</strong>- In adopting Godly values, professional appearance, honesty, confidentiality, professionalism and accuracy, as well as adhering to the company-wide culture of high ethical standards.</li>
                    <li><strong>Transparency</strong>- In all our dealings, contracts and results.</li>
                </ul>
            </div>        
        </div>
    </section>
    <hr>
    <section id="hear-from-partners">
        <h3 class="section-title hear-from-partners-header">Hear from our partners</h3>
        <div class="left-arrow">
            <fa-icon [icon]="faChevronCircleLeft" size="2x"></fa-icon>
        </div>
        <div class="card">
            <figure class="hear-from-partners-content">
                <img src="assets/home/testimonial.jpg" alt="">
                <div class="content-testimonial">
                    <q>
                        I have been investing with Charly Irias Investment limited for around 7 months. They have not only offered a great interest rate but also pay on time. No complaint at all
                    </q>
                    <figcaption>Ebi K.</figcaption>
                    <div class="slide-indicators">
                        <fa-icon [icon]="faCircle"></fa-icon>
                        <fa-icon [icon]="faCircle"></fa-icon>
                        <fa-icon [icon]="faCircle"></fa-icon>
                        <fa-icon [icon]="faCircle"></fa-icon>
                    </div>
                </div>
            </figure>
        </div>
        <div class="right-arrow">
            <fa-icon [icon]="faChevronCircleRight" size="2x"></fa-icon>
        </div>
    </section>
    <hr>
    <section id="faq-call-to-action">
        <section id="faq" class="card">
            <h2 class="card-header section-title">Are these your questions too?</h2>
            <div class="faq-body">
                <ul>
                    <li><strong>What is your minimum amount of investment? </strong> <br>Answer: N50,000</li>
                    <li><strong>What is your return on investment?</strong><br>Answer: 30% monthly.</li>
                    <li><strong>What is your minimum and maximum investment duration?</strong><br>Answer: Minimum (3 months) and maximum (6 months) </li>
                </ul>
            </div>
            <a [routerLink]="['/products']"><button class="btn">Learn more</button></a>
        </section>
    
        <section id="call-to-action">
            <figure>
                <q>If you don't find a way to make money while you sleep, you will work until you die</q>
                <figcaption><cite>-Warren Buffet</cite></figcaption>
            </figure>
            <a [routerLink]="['/products']"><button class="btn">Invest now</button></a>
        </section>
    </section>
</main>