:host {
    padding: 0;
    margin: 0;
}

main{
    padding-top: 5em;
}


#hero {
    height: 30vh;
    width: 100%;
    background-image: url('../../../assets/home/small/hero.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
}

.hero-overlay h1{
    font-size: 1.3em;
    line-height: 1.5em;
    align-self: start;
}

#hero-icon {
    width: 3em;
    align-self: end;
}


.package{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 1em;
    gap: .5em;
    text-align: center;
    height: 100%;    
    padding-bottom: 2em;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.subtitle {
    text-align: center !important
}

strong {
    font-style: italic;
}

.package img {
    width: 4em;
}

.subtitle {
    color: #1ea958;
    font-weight: bolder;
}
.package h4 {
    color: #1ea958;
    margin-bottom: 0;
    font-weight: bolder;
    margin-top: .5em;
}

.calc-inv-btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.calc-btn-compute {
    background-color: white;
    border: 2px solid #f58634;
    color: #f58634;
}

.package h5 {
    justify-self: left;
    text-align: left;
}

.package1 p{
    text-align: left;
    line-height: 1.2em;
    padding-bottom: .5em;
}


ul li {
    text-align: left;
}

.btn-toggle {
    background-color: white;
    color: #f58634;
    border: none;
}

.hide-calc {
    display: none;
}

.show-calc {
    display: grid;
    position: relative;
}

.close-btn {
    font-size: 1.5em;
    text-align: right !important;
    padding-right: .5em;
    justify-self: right;
    cursor: pointer;
}

.calc-header {
    display: grid;
    background-color: #f58634;
    justify-items: center;
    color: white;
}

.calc-body {
    padding: 1em;
    display: grid;
    justify-items: center;
    gap: 1em;
}

.calc-btn {
    margin: 1em 0;
}

.calc-inv-btn {
    position: relative;
    bottom: -2em;
}

#calc-interest {
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 0;
}

.calc-radio-container {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.radio input[type='radio']{
    display: none;
}

.radio {
    display: grid;
    grid-template-columns: .2fr 1fr;
    align-items: center;
    justify-items: left;
}
.radio span {
    width: .8em;
    height: .8em;
    border-radius: 50%;
    border: 3px solid #1ea958;
    justify-self: right;
    margin-right: 3px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.radio span:after {
    content: "";
    height: .4em;
    width: .4em;
    background: #1ea958;
    transform: scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span:after {
    transform: scale(1);
}

.calc-other-inputs {
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: .5em;
}

.calc-other-inputs label {
    color: #1ea958;
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid rgba(187, 183, 183, 0.329);
    padding-bottom: .5em;
    font-weight: bold;
}

.calc-other-inputs input[type="number"] {
    border: none;
    background-color:lightgray;
    color: black;
    font-weight: bold;
    font-size: 1em;
    justify-self: right;
    text-align: right;
    padding-right: 5px;
}

.calc-other-inputs input[name="principal"] {
    width: 60%;
    /* display: inline-block; */
}

.calc-other-inputs input[name="interestRate"] {
    width: 30%;
    background: none;
    /* display: inline-block; */
}

.calc-other-inputs input[name="lengthOfTerm"] {
    width: 40%;
    /* display: inline-block; */
}


@media screen and (min-width: 600px){
    
    :host{
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .hero-overlay h1{
        font-size: 2em !important;
        /* line-height: 1.5em; */
    }

    .fix {
        justify-self: start;
    }
}

@media screen and (min-width: 800px){
    main {
        padding-top: 3em;
    }

    #hero {
        height: 40vh;
        background-position: top;
    }

    .hero-overlay h1{
       color: rgba(255, 255, 255, 0.9);
    }

    .package {
        padding: 2em;
        grid-template: 
        "header         header"
        "description    calculator" max-content
        "invest-btn     invest-btn"
        /2.5fr            1fr
        ;
        gap: 1em;
    }

    .package-header {
        grid-area: header;
    }

    .package-description {
        grid-area: description;
        padding: 1em;
    }

    .calc-bg {
        grid-area: calculator;
    }

    .calc-inv-btn {
        grid-area: invest-btn;
    }

    .subtitle {
        font-size: larger;
    }
}