<main>
    <section id="hero">
        <div class="hero-overlay">
            <img id="hero-icon" src="assets/product/forex.png" alt="">
            <h1 class="section-title">Forex Investment</h1>
        </div>
    </section>
    <div class="package package1">
        <div class="package-header">
            <p class="subtitle">Earn 30% returns on your investment in 30 days, guaranteed.</p>
        </div>
     
        <div class="package-description card">
            <h5>How much can you invest?</h5>
            <p class="fix">We currently accept minimum of 50,000 naira and maximum of 5 million naira.</p>
            <h5>How long is the term of my investment?</h5>
            <p class="fix">For now, term is a minimum of three (3) months and maximum of six (6) months.</p>
            <h5>How is interest paid?</h5>
            <p><strong> Simple interest</strong> - Get paid 30% the exact amount of money you invest in monthly e.g. when you invest 100,000 naira, you are paid 30% that is 30,000 at the end of every month until the end of term. </p>
            <p><strong> Compound interest </strong>- Get paid the cumulative ROI derived from our reinvestment of the sum of your monthly interest with your principal (amount invested) in the subsequent months within the term. E.g., when you invest 100,000, in the first month, your interest of 30% should be 30,000.</p>
            <p class="fix">This 30,000 will be added to your principal (100,000) to gives 130,000. This 130,000 will be reinvested in the second month.</p>
            <p class="fix">This process continues till the end of term.</p>
            <h5>Please Note:</h5>
            <ul>
                <li>Simple interest can be paid monthly or at the end of term. </li>
                <li>Compound interest is paid only at the end of term.</li>
                <li>Your principal will be paid at the end of term.</li>
            </ul>
        </div>
       

        <div class="card calc-bg">
            <div class="calc-content">
                <div class="calc-header">
                    <!-- <p class="close-btn" (click)="toggleCalc()">&times;</p> -->
                    <h3>Interest Calculator</h3>
                    <p id="calc-interest">NGN <span id="calc-interest-val"> {{interest | number : '1.2-2'}}</span></p>
                    <p class="calc-accr">Interest Accrued</p>
                </div>

                <div class="calc-body">
                    <div class="calc-radio-container">
                        <div class="radio">
                            <input type="radio" name="interestType" id="simpleInterest" value="simple interest" checked [(ngModel)]="interestType">
                            <span></span>
                            <label for="simpleInterest">Simple Interest</label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="interestType" id="compoundInterest" value="compound interest" [(ngModel)]="interestType">
                            <span></span>
                            <label for="compoundInterest">Compound Interest</label>    
                        </div>
                    </div>

                    <div class="calc-other-inputs card">
                        <label for="principal">Principal
                            <input type="number" name="principal" id="principal" autofocus [(ngModel)]="principal">
                        </label>
                        <label for="interestRate">Interest Rate(%)
                            <input type="number" name="interestRate" id="interestRate" [ngModel]="interestRate" disabled>
                        </label>
                        <label for="lengthOfTerm">Length Of Term (in months)
                            <input type="number" name="lengthOfTerm" id="lengthOfTerm" [(ngModel)]="lengthOfTerm">
                        </label>
                    </div>
                    <button class="btn calc-btn-compute" (click)="calculator()">Calculate</button>
            </div>
        </div>
        <!-- <button class="btn btn-toggle  calc-btn" (click)="toggleCalc()" [ngClass]="{ 'hide-calc': calcOpen, 'show-calc': !calcOpen }">Calculate</button> -->
    </div>
        <button class="btn calc-inv-btn">Invest</button>
    </div>
</main>
