<main>
    <section id="hero">
        <div class="hero-overlay">
            <img id="hero-icon" src="assets/product/Finance1.png" alt="">
            <h1 class="section-title">Savings and loans</h1>
        </div>
    </section>

    <div class="package package3">
        <p class="subtitle">Save your money for targeted goals and easily access loans.</p>

        <div class="card">
            <p>Save your money for targeted goals and get returns at the end of the month.</p>
            <p>This savings can be towards a specific goal like school fees, or for paying rent.</p>
            <p>This package is for daily contribution; you will collect the total amount at the end of the month.</p>
            <p><strong> It works like this.</strong></p>
            <ul>
                <li>You decide the amount you want to be saving daily.</li>
                <li>Buy the card and start saving.</li>
            </ul>
    
            <p>Our fee is only the amount used as savings. For example, if you decide to be saving N1000 daily, our charge is only N1000 at the end of the month </p>
    
        </div>
        
        <a href="https://wa.me/message/HEKZFV5GLEA7H1"><button class="btn savloan-btn">Save Now</button></a>
    </div>
</main>
